.catalogo {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 25px;
    :hover{
        color: white;
    }
    .comprar{
        height: 45px; 
        margin: 15px;
        text-transform: uppercase;
        background-color: #3ec249; 
        border-color: grey; 
        border-style: solid; 
        border-radius: 10px;  
        width: 200px;   
        cursor: pointer;
        font-size: 20px;
    }
    img {
        width: 200px;
        border: 1px solid grey;
        padding: 0 auto;
        border-radius: 15px;
        height: 210px;
        transition: 1s;
        justify-content: space-between
    }
    img:hover {
        border: 2px solid grey;
        transform: scale(1,1);
        transition: 200ms;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .precio {
        color: blue;
        font-size: 25px;
        margin-bottom: 1px;
    }
    .producto__nombre {
        margin-top: 10px;
        font-size: 24px;
        color: gray;
    }
}
