* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@import 'inicio';
@import 'catalogo';
@import 'nosotros';
@import 'contacto';
@import 'socios';
@import 'footer';
@import 'media';
